.git
.github
.claude
.bundle
.ruby-lsp
.vscode

log/*
!log/.keep
tmp/*
!tmp/.keep
tmp/cache
tmp/pids
tmp/sockets

storage/*
!storage/.keep

node_modules
public/assets
public/vite
public/packs
public/packs-test

coverage
test/reports
cypress
cypress.config.ts
playwright-report
test-results

dumps
docker
docker-compose.yml

.env
.env.*
!.env.example

*.gem
*.log
*.tar.gz
.DS_Store

REVISION

# we copy these explicitly in the build stage, but ignore them here so
# they don't leak into earlier layers
README.md
LICENSE
CHANGELOG.md
