.bundle
.wti

# logfiles and tempfiles.
log/*
tmp/*

pids/*

# config files
config/database.yml
.env
.powenv
.byebug_history

latest.dump

public/uploads

# gems
gems/*

# test files
coverage/*
test/reports/*

# app files
files/*

# js dependencies
vendor/assets/.bowerrc
vendor/assets/bower.json

# js translations
public/javascripts/translations.js
reckoning-app.sublime-workspace
reckoning.io.csr
reckoning.io.key
