.bundle
.wti

# logfiles and tempfiles.
log/*
tmp/*

pids/*
.ruby-version

# config files
config/database.yml
config/resque.yml
config/secrets.yml
config/skylight.yml
.env

# test files
coverage/*

# app files
files/*

# js dependencies
vendor/assets/bower_components/*
vendor/assets/.bowerrc
vendor/assets/bower.json

# js translations
public/javascripts/translations.js