%ul.nav.nav-tabs#preview-nav{role: "tablist"}
  %li.active
    %a{href: "#invoice-preview", role: "tab", data: { toggle: "tab" }}
      = I18n.t(:"labels.defaults.invoice")
  - if invoice.timers.present?
    %li
      %a{href: "#timesheet-preview", role: "tab", data: { toggle: "tab" }}
        = I18n.t(:"labels.defaults.timesheet")
#preview-wrapper
  .tab-content
    .tab-pane.active#invoice-preview
      .pdf-viewer{ data: { pdf: { path: invoice_pdf_path(invoice, invoice.invoice_file) } } }
    - if invoice.timers.present?
      .tab-pane#timesheet-preview
        .pdf-viewer{ data: { pdf: { path: timesheet_pdf_path(invoice, invoice.invoice_file) } } }
