.table-responsive
  %table.table.table-condensed.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th.ref=sortable "ref", I18n.t(:"table.labels.defaults.ref")
        %th=sortable "customers.company", I18n.t(:"table.labels.invoice.customer")
        %th.month=sortable "date", I18n.t(:"table.labels.defaults.date")
        %th=sortable "value", I18n.t(:"table.labels.defaults.value")
        %th=sortable "state", I18n.t(:"table.labels.defaults.state")
        %th.actions.four=I18n.t(:"table.labels.defaults.actions")
    %tbody
      = render partial: "invoices/show", collection: @invoices, as: :invoice

      - if @invoices.blank?
        = render "layouts/tables/blank", count: 6, resource: "invoice"
