.panel.panel-default#budgets-panel
  .panel-heading
    .panel-title
      %strong
        = I18n.t(:"dashboard.panels.budgets")
  .list-group
    - budgets.each do |project|
      = render 'budget_item', project: project
