- context ||= 'default'
- id ||= 'chart'
- data ||= {}
.panel{class: "panel-#{context}"}
  .panel-heading
    .panel-title
      %strong
        = panel_title
  .panel-body
    %div{id: id, data: data}
      %svg{style: "height: 250px;"}
