.list-group
  - tasks.each do |task|
    %a.list-group-item{href: '#', onclick: "toggleCheckbox($(this)); return false;", data: {activeclass: "list-group-item-info"}}
      = check_box_tag "timer_ids[]", {name: task.name, value: task.timer_values.to_f}.to_json, false, id: dom_id(task), class: "pull-right"
      %strong
        = task.name
      = number_to_currency task.timer_values, unit: "h"
