.navbar-header
  %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-ex1-collapse'}}
    %span.sr-only
      = I18n.t(:"nav.header.toggle")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{href: backend_root_path, class: active_nav?}
    = I18n.t(:"title.backend")
