%nav#main-nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  .container-fluid
    = render "layouts/backend/brand"
    .collapse.navbar-collapse.main-navbar
      = render "layouts/backend/links"
      = render "layouts/user_nav"
