%nav#main-nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  .container
    = render "layouts/backend/brand"
    .collapse.navbar-collapse.navbar-ex1-collapse
      = render "layouts/backend/links"
      = render "layouts/user_nav"
