version: 2.0

defaults: &defaults
  working_directory: ~/app
  docker:
    - image: reckoning/app:2.6.6
      environment:
        RAILS_ENV: test
        DATABASE_HOST: 127.0.0.1
        DATABASE_USER: root
        LC_ALL: C.UTF-8
        LANG: en_US.UTF-8
        LANGUAGE: en_US.UTF-8
    - image: circleci/postgres:9.6.2-alpine
      environment:
        POSTGRES_USER: root
        POSTGRES_DB: reckoning_test

jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/app
          paths:
            - ./
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/app

  bundle_dependencies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v1-bundle-{{ checksum "Gemfile.lock" }}
            - v1-bundle-
      - run: bundle install --path vendor/bundle
      - persist_to_workspace:
          root: ~/app
          paths:
            - vendor/bundle
      - save_cache:
          key: v1-bundle-{{ checksum "Gemfile.lock" }}
          paths:
            - ~/app/vendor/bundle

  audit:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/app
      - run: bundle --path vendor/bundle
      - run:
          name: Update Audit DB
          command: bundle exec bundle-audit update
      - run:
          name: Check Audit DB
          command: bundle exec bundle-audit check

  rubocop:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/app
      - run: bundle --path vendor/bundle
      - run:
          name: rubocoptering
          command: bundle exec rubocop --format progress

  unit_tests:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/app
      - run: bundle --path vendor/bundle
      - run: bundle exec rake db:create db:schema:load
      - run:
          name: Run Unit Tests
          command: bundle exec rails test

  precompile_assets:
    <<: *defaults
    steps:
      - restore_cache:
          keys:
            - v1-assets-{{ .Environment.CIRCLE_SHA1 }}
            - v1-assets-
      - attach_workspace:
          at: ~/app
      - run: bundle --path vendor/bundle
      - run:
          name: Precompile assets
          command: bundle exec rake assets:precompile
      - persist_to_workspace:
          root: ~/app
          paths:
            - public/assets
      - save_cache:
          key: v1-assets-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/app/public/assets

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/app
      - run: bundle --path vendor/bundle
      - add_ssh_keys:
          fingerprints:
            - "9b:2a:48:b3:c6:b7:8d:22:d6:1a:82:d1:00:bf:6d:6c"
      - run:
          name: Keyscan Erelas (HACK)
          command: ssh-keyscan -H reckoning.mortik.xyz >> ~/.ssh/known_hosts
      - run:
          name: Keyscan Github (HACK)
          command: ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      - run:
          name: Deploy
          command: bundle exec mina live deploy

workflows:
  version: 2
  check:
    triggers:
      - schedule:
          cron: "0 20 * * 0"
          filters:
            branches:
              only: main
    jobs:
      - checkout_code
      - bundle_dependencies:
          requires:
            - checkout_code
      - audit:
          requires:
            - bundle_dependencies
      - rubocop:
          requires:
            - bundle_dependencies
      - unit_tests:
          requires:
            - bundle_dependencies
      - precompile_assets:
          requires:
            - bundle_dependencies
  ci:
    jobs:
      - checkout_code
      - bundle_dependencies:
          requires:
            - checkout_code
      - audit:
          requires:
            - bundle_dependencies
      - rubocop:
          requires:
            - bundle_dependencies
      - unit_tests:
          requires:
            - bundle_dependencies
      - precompile_assets:
          requires:
            - bundle_dependencies
      - deploy:
          requires:
            - audit
            - rubocop
            - unit_tests
            - precompile_assets
          filters:
            branches:
              only: main
