.row
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :name)}
      = form.label :name
      = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
      = form_errors resource, :name
