:ruby
  path = root_path unless defined?(path)
  hide_back = false unless defined?(hide_back)
.row
  .col-xs-12.col-md-8
    %h1
      = I18n.t(:"headlines.user")

  - unless hide_back
    .col-xs-12.col-md-4
      .btn-group-responsive.pull-right.resource-nav
        = link_to I18n.t(:"nav.subnav.back"), path, class: "btn btn-default"
