:ruby
  path = "" unless defined?(path)
  active = "basic" unless defined?(active)
%ul.nav.nav-tabs-vertical
  %li{class: (active == "basic" ? "active" : "")}
    %a{href: "#{path}#basic", data: {toggle: ("tab" if path.blank?)}}
      = I18n.t("nav.subnav.user.basic")
      %i.fa.fa-user.fa-fw
  %li{class: (active == "security" ? "active" : "")}
    %a{href: "#{path}#security", data: {toggle: ("tab" if path.blank?)}}
      = I18n.t("nav.subnav.user.security")
      %i.fa.fa-laptop.fa-fw
