html {
  scroll-behavior: smooth;
}

.app-intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin-top: -80px;
  margin-bottom: -50px;
  text-align: center;

  .logo {
    width: 200px;
    margin-right: -30px;
    margin-bottom: 28px;
  }
}
