%ul.nav.nav-vertical-tabs
  %li.active
    %a{href: "#basic", data: {toggle: "tab"}}
      = I18n.t("nav.subnav.customer.basic")
      %i.fa.fa-book.fa-fw
  %li
    %a{href: "#email", data: {toggle: "tab"}}
      = I18n.t("nav.subnav.customer.email")
      %i.fa.fa-send.fa-fw
