.table-responsive
  %table.table.table-condensed.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th=sortable "company", I18n.t(:"labels.defaults.company")
        %th=I18n.t(:"labels.defaults.address")
        %th=I18n.t(:"labels.defaults.contact")
        %th.actions.two=I18n.t(:"labels.defaults.actions")

    %tbody
      = render partial: "customers/show", collection: @customers, as: :customer

      - if @customers.blank?
        = render "shared/tables/blank", count: 4, resource: "customer"
