.table-responsive
  %table.table.table-condensed.table-hover.table-outer-bordered.table-striped
    - @customers.each do |customer|
      %thead
        %tr
          %th
            %a{href: edit_customer_path(customer)}
              = customer.name
          %th=I18n.t(:"labels.defaults.rate")
          %th.budget=I18n.t(:"labels.defaults.budget")
          %th.budget-bar=I18n.t(:"labels.defaults.remaining_budget")
          -# %th.actions.two=I18n.t(:"labels.defaults.actions")

      %tbody
        = render partial: "projects/show", collection: customer.projects.order("name asc"), as: :project

        - if customer.projects.blank?
          = render "shared/tables/blank", count: 4, resource: "project"