- context ||= 'info'
.panel{class: "panel-#{context}"}
  .list-group.tasks-list
    - tasks.each do |task|
      %a.list-group-item{href: ""}
        = task.name
    - if tasks.empty?
      %span.list-group-item
        = I18n.t(:"labels.table.blank.task")
