- content_for :title do
  = I18n.t(:"meta.title.timer.index")
.row ng-app="timesheet"
  .col-xs-12.col-md-12 ng-controller="WeekController as weekCtrl" ng-init="weekCtrl.setDates()"
    .table-responsive
      table.table.table-condensed.table-hover.timesheet ng-init="weekCtrl.getTasks()"
        thead: tr
          th
          th.text-right.timesheet-day ng-class="{'timesheet-today':date.isCurrentDate}" ng-repeat="date in weekCtrl.dates"
            span ng-bind="date.day"
            br
            span ng-bind="date.short"
          th.text-right.timesheet-row-sum
          th
        tbody
          tr ng-repeat="task in weekCtrl.tasks"
            td ng-bind="task.name"
            td.text-right.timesheet-day ng-class="{'timesheet-today':date.isCurrentDate}" ng-repeat="timer in task.timers"
              input.form-control type="text" ng-model="timer.value" timefield=true
            td.text-right.timesheet-row-sum
              span ng-bind="weekCtrl.sumForTask(task) | time"
            td.timesheet-actions
              a.btn.btn-danger.btn-sm ng-click="weekCtrl.removeTask(task)"
                i.fa.fa-trash
        tfoot: tr
          td.text-right
            button.btn.btn-default type="button" ng-click="weekCtrl.addTask('New Task')"
              = I18n.t(:"actions.add_timer")
            button.btn.btn-primary disabled=true
              = I18n.t(:"actions.save")
          td.text-right.timesheet-col-sum ng-class="{'timesheet-today':date.isCurrentDate}" ng-repeat="date in weekCtrl.dates"
            span ng-bind="weekCtrl.sumForDate(date) | time"
          td.text-right.timesheet-sum
            span ng-bind="weekCtrl.sumForWeek() | time"
          td
