nav#main-nav.navbar.navbar-default role="navigation"
  .container
    = render "layouts/brand"
    .collapse.navbar-collapse.main-navbar
      ul.nav.navbar-nav.navbar-right
        - if registration_enabled?
          li class=hide_nav?('registration')
            = link_to I18n.t(:"nav.header.sign_up"), new_registration_path
        li class=(hide_nav?('sessions') || hide_nav?('users'))
          = link_to I18n.t(:"actions.sign_in"), new_user_session_path
