.table-responsive
  %table.table.table-condensed.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th.id=sortable "id", I18n.t(:"labels.defaults.id")
        %th=sortable "email", I18n.t(:"labels.defaults.email")
        %th=sortable "current_sign_in_at", I18n.t(:"labels.user.current_sign_in_at")
        %th=sortable "admin", I18n.t(:"labels.user.admin")
        %th.actions.three=I18n.t(:"labels.defaults.actions")
    %tbody
      = render partial: "backend/users/show", collection: @users, as: :user

      - if @users.blank?
        = render "layouts/tables/blank", count: 3, resource: "user"
