- content_for :title do
  = I18n.t(:"meta.title.invoice.edit")

.row#edit-invoice
  .col-xs-12.col-md-12
    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.invoice.edit")

      .col-xs-12.col-md-4
        .btn-group-responsive.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), invoices_path, class: "btn btn-default"

    = render "form"
