@media (max-width: $screen-sm-max) {
  .btn-group-responsive {
    width: 100%;

    > .btn {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}


.btn-link {
  &.danger {
    color: $brand-danger;
    &:hover {
      color: darken($brand-danger, 5%);
    }
  }

  &.default {
    color: $gray-light;
    &:hover {
      color: darken($gray-light, 5%);
    }
  }
}
