.chart {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  overflow-y: hidden;

  .chart-inner {
    min-width: 600px;
    max-width: 100%;
    overflow: hidden;

    > &.chart-dashboard {
      height: 300px;
    }
  }
}

.highcharts-tooltip > span {
  background: rgba(#fff, .85);
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: #EeEeEe 1px 1px 3px;
  z-index: 9999 !important;
  min-width: 220px;
  display: block;
  padding: 8px;
}

.highcharts-tooltip-header {
  margin-bottom: 3px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.highcharts-plotline-budget {
  z-index: 1 !important;
  margin-left: -10px;
  margin-top: -8px;
  line-height: 1.2;
  font-size: 90% !important;
  display: inline-block;
  position: absolute;
}

.highcharts-xaxis-labels {
  span {
    display: block;
    z-index: 1 !important;
    min-width: 30px;
    text-align: center;

    &.hover {
      font-weight: bold;
    }
  }
}
