.chart {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 400px;

  &.chart-dashboard {
    height: 300px;
  }
}

.highcharts-tooltip > span {
  min-width: 200px;
  display: block;
}

.highcharts-tooltip-header {
  margin-bottom: 3px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
