footer#main-footer {
  // padding: 15px 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  // #disclaimer {
  //   margin-top: 20px;
  //   color: #999;
  // }
  // nav {
  //   margin-bottom: 10px;

  //   a {
  //     color: lighten(#428bca, 10%);
  //     &:hover {
  //       color: #428bca;
  //     }
  //   }
  // }

  .copyright {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #999;

    a {
      color: #999;

      &:hover {
        color: #428bca;
      }
    }
  }

  .version {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #999;
  }
}
