footer#main-footer {
  padding: 0 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .copyright {
    color: #999;

    a {
      color: #999;

      &:hover {
        color: #428bca;
      }
    }
  }

  .version {
    color: #999;
    text-align: right;
  }

  @media (max-width: $screen-xs-min) {
    .version, .copyright {
      text-align: center;
    }
  }
}

.footer-links {
  a {
    &.active, &:active {
      color: $text-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
