$input-error-border-color: #c60f13;
$input-error-bg-color: rgba(198, 15, 19, 0.1);

form {
  .selectize-control {
    height: 34px;

    .selectize-input.has-items {
      input {
        max-width: 100px !important;
      }
    }
  }

  .has-error {
    input, textarea, .selectize-input {
      border-color: $input-error-border-color;
      background-color: $input-error-bg-color;
      border-radius: $border-radius-base $border-radius-base 0 0;

      &:focus {
        background: #fafafa;
        border-color: #999999;
      }
    }

    .input-group-addon:first-child {
      border-radius: $border-radius-base 0 0 0;
    }

    small {
      display: block;
      padding: 0.375em 0.25em;
      font-size: 90%;
      font-weight: bold;
      background: #c60f13;
      color: white;
      border-radius: 0 0 $border-radius-base $border-radius-base;
    }
  }

  .invoice-position-value {
    text-align: right;
  }
}
