$input-error-border-color: #c60f13;
$input-error-bg-color: rgba(198, 15, 19, 0.1);

.input-group-addon {
  color: inherit;
}

label {
  color: gray;
}

.input-group-fields {
  position: relative;
  .form-control:last-child {
    border-bottom-left-radius: $border-radius-base;
    border-top-left-radius: $border-radius-base;
  }
}

.form-control-feedback {
  bottom: 10px;
  top: auto !important;
  right: 10px;
  width: 14px;
  height: 14px;
  pointer-events: all;
}

form .selectize .form-control-feedback {
  right: 30px;
}

.datepicker {
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    cursor: pointer;
  }
}

form {
  .selectize-control {
    height: 34px;

    .selectize-input.has-items {
      input {
        max-width: 100px !important;
      }
    }
  }

  .form-subdomain {
    text-align: right;
  }

  .form-group .checkbox {
    padding-top: 22px;
  }

  .has-feedback {
    .input-group {
      .form-control {
        padding-right: $padding-base-horizontal;
      }

      .input-group-addon {
        padding-right: ($input-height-base * 1.25);
      }
    }

    .form-control-feedback {
      z-index: 3;

      &.input-group-btn-feedback {
        right: 48px;
      }
    }
  }

  .form-control[type=checkbox] {
    margin: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .has-error {
    input, textarea, .selectize-control .selectize-input, .selectize-control .selectize-input.input-active {
      border-color: #c60f13;
      background-color: rgba(red, 0.1);
    }

    ::-webkit-input-placeholder {
      color: $state-danger-text;
    }
    :-moz-placeholder {
      color: $state-danger-text;
    }
    ::-moz-placeholder {
      color: $state-danger-text;
    }
    :-ms-input-placeholder {
      color: $state-danger-text;
    }
  }

  .invoice-position-value {
    text-align: right;
  }

  &#test_mail-form {
    .form-group {
      margin-bottom: 0;
    }
  }

  .checkbox {
    label {
      padding-left: 5px;
    }
  }

  .form-group {
    .input-group-addon {
      .checkbox {
        margin: 0;
        margin-top: -3px;
        padding-top: 0;

        label {
          padding-top: 5px;
          padding-left: 5px;

          &::before {
            top: 3px;
          }

          &::after {
            padding-left: 0px;
            padding-top: 6px;
          }
        }

        input[type="checkbox"] {
          margin-top: 5px;
        }
      }

      label {
        margin-bottom: 0;
      }
    }
  }
}

.list-group-item .checkbox {
  margin-top: 2px;
}

.otp-qrcode {
  max-width: 250px;
  max-height: 250px;
}

textarea {
  max-width: 100%;
  min-height: 50px;
  max-height: 300px;
}

p.placeholder {
  margin-top: 10px;
  padding-top: 22px;
}

.pdf-viewer {
  margin-top: 22px;
}

.checkbox.checkbox-right {
  text-align: right;

  label {
    padding-right: 25px;

    &::before {
      left: auto;
      right: 0;
    }

    &::after {
      left: auto;
      right: 0;
      padding-right: 3px;
      padding-left: 0;
    }
  }
}
