.modal-backdrop {
  bottom: 0;
}

@media (max-width: $screen-sm-min) {
  .modal {
    .modal-dialog {
      width: 100%;
      margin: 0;
      top: 0;

      .modal-content {
        border-width: 1px 0 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
