.navbar {
  &.navbar-aside {
    .navbar-header {
      float: none;
    }

    .user-menu {
      .caret {
        float: right;
        margin-top: 14px;
      }
    }

    .navbar-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .navbar-collapse ul.navbar-nav,
    ul.navbar-nav {
      margin-left: -15px;
      margin-right: -15px;
      float: none !important;

      > li {
        float: none;

        &.active > a,
        > a:hover,
        &.open > a {
          box-shadow: inset -4px 0 0 $navbar-active;
        }
      }
    }

    .navbar-collapse {
      ul.navbar-nav {
        max-height: none !important;
      }
    }

    ul.dropdown-menu {
      right: 2%;
      left: 2%;
      width: 96%;
      border-radius: 4px;
    }

    .current-timers {
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  body {
    overflow-x: hidden;
    padding-top: 70px;
  }

  body > .container-fluid {
    position: relative;
    transition: left ease 0.5s;
    left: 0;
  }

  .navbar {
    &.navbar-aside {
      transition: left ease 0.5s;

      .current-timers {
        padding: 0;
      }

      .navbar-collapse {
        position: absolute;
        display: block;
        margin-right: 0;
        margin-left: -85vw;
        background-color: #f8f8f8;
        border-right: 1px solid #e7e7e7;
        border-top: none;
        width: 85vw;
        top: 0;
        left: 0;
        right: auto;
        height: 100vh !important;
        max-height: 100vh;
      }
    }
  }
}

@media (min-width: $screen-sm-max) {
  body > .container-fluid {
    left: 0 !important;
  }

  .navbar {
    &.navbar-aside {
      position: fixed;
      top: 0;
      left: 0 !important;
      width: 100/6/100 * 100%;
      height: 100%;
    }
  }
}
