.navbar {
  &.navbar-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100/6/100 * 100%;
    height: 100%;

    .navbar-header {
      float: none;
    }

    .user-menu {
      .caret {
        float: right;
        margin-top: 14px;
      }
    }

    .navbar-bottom {
      position: absolute;
      bottom: 20px;
      width: 100%;
    }

    ul.navbar-nav {
      margin-left: -15px;
      margin-right: -15px;
      float: none !important;

      > li {
        float: none;

        &.active > a,
        > a:hover,
        &.open > a {
          box-shadow: inset -4px 0 0 $navbar-active;
        }
      }
    }

    .navbar-collapse {
      ul.navbar-nav {
        max-height: none !important;
      }
    }

    ul.dropdown-menu {
      right: 2%;
      left: 2%;
      width: 96%;
      border-radius: 4px;
    }
  }
}
