$nav-transition-speed: .3s;

.dropdown-menu {
  li {
    > a {
      transition: all $nav-transition-speed;
    }
    &.active > a,
    &:hover > a {
      box-shadow: inset 4px 0 0 $navbar-active;
    }
  }
}

#main-nav {
  border-radius: 0;
  z-index: 100;
  box-shadow: #EeEeEe 0 1px 5px;

  .navbar-collapse {
    .nav.navbar-nav {
      max-height: 50px;

      > li {
        > a {
          transition: all $nav-transition-speed;
        }

        &.active > a,
        > a:hover,
        &.open > a {
          box-shadow: inset 0 -4px 0 $navbar-active;
        }

        &:active > a {
          background: #e8e8e8;
        }
      }
    }

    &.in,
    &.collapsing {
      .nav.navbar-nav {
        max-height: none;

        > li {
          &.active > a,
          > a:hover,
          &.open > a {
            box-shadow: inset 4px 0 0 $navbar-active;
          }

          .dropdown-menu {
            li {
              &.active > a,
              &:hover > a {
                box-shadow: inset 4px 0 0 $navbar-active;
              }
            }
          }
        }
      }
    }
  }
}

.side-nav {
  padding-top: 40px;
}

.gravatar {
  float: left;
  box-shadow: $gravatar-shadow;
  border-radius: 3px;
  margin: 0 5px 0 0;
  max-width: 20px !important;
  max-height: 20px;
  width: 20px
}

.resource-nav {
  margin-bottom: 10px;
}

.nav-pills {
  li {
    margin-bottom: 5px;
  }
}

@media (max-width: $screen-xs-min) {
  .navbar-brand {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
  }
}
