#nprogress .bar {
  background: $navbar-active !important;
}

#nprogress .spinner-icon {
  border-top-color: $navbar-active !important;
  border-left-color: $navbar-active !important;
}

@media (max-width: $screen-xs-max) {
  #nprogress .spinner {
    right: 70px !important;
  }
}