.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 8%;


  .form-registration-heading,
  .checkbox {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;

    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }

  .has-feedback {
    .form-control-feedback {
      &:nth-child(2) {
        padding-top: 15px;
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    max-width: 100%;
  }
}
