table {

  &.table-outer-bordered {
    border: 1px solid #dddddd;
  }

  th {
    &.actions {
      width: 103px;
      min-width: 103px;
    }
    &.budget {
      width: 100px;
      min-width: 100px;
    }
    &.budget-bar {
      width: 300px;
      min-width: 300px;
    }
  }
  td {
    .row {
      margin: 0;
      > div {
        padding: 0;
      }
    }

    a {
      color: $secondary-link-color;
      &:hover {
        color: darken($secondary-link-color, 20%)
      }
    }

    &.budget {
      text-align: right;
    }
    &.value, &.hours, &.rate {
      text-align: right;
    }
    &.ref {
      width: 60px;
      min-width: 60px;
    }
    &.month {
      width: 125px;
      min-width: 125px;
    }
    &.value {
      width: 130px;
      min-width: 130px;
    }
    &.hours {
      width: 100px;
      min-width: 100px;
    }
    &.date {
      width: 125px;
      min-width: 125px;
    }
    &.rate {
      width: 80px;
      min-width: 80px;
    }
  }
  tr {
    &.sum, &.step-sum, &.tax {
      td:first-child {
        text-align: right;
      }
    }
    &.border {
      td {
        border-top: 1px solid #666;
      }
    }
  }
}

.panel-body {
  .table,
  table {
    margin-bottom: 0;
  }
}

