//= require_self
//= require ladda/css/ladda
//= require selectize/dist/css/selectize.bootstrap3

$footer-border-color: #ccc;
$footer-bg-color: #ddd;
$navbar-active: #428bca;
$gravatar-shadow: 0 1px 0 #fff;

@import "bourbon";
//@import "colors/slate";
@import "bootstrap";
@import "colors/slate_overrides";
@import "partials";
@import "invoice";
@import "dashboard";
@import "welcome";

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
  padding: 70px 0 0;
  min-height: 100%;
  height: auto;
  position: relative;

  > .container {
    padding-bottom: 20px;
  }
}

.filter-menu {
  margin: 0 0 20px;
  display: inline-block;
}

#signup-form {
  margin-bottom: 20px;
}
