//= require_self
//= require ladda/css/ladda
//= require nvd3/nv.d3
//= require selectize/dist/css/selectize.bootstrap3

$footer-border-color: #ccc;
$footer-bg-color: #ddd;
$navbar-active: #428bca;
$gravatar-shadow: 0 1px 0 #fff;
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.15));
$font-size-h2: floor(($font-size-base * 1.7));
$font-size-h3: floor(($font-size-base * 1.25));
$font-size-h4: $font-size-base;
$font-size-h5: floor(($font-size-base * 0.85));
$font-size-h6: floor(($font-size-base * 0.85));

@import "bourbon";
//@import "colors/slate";
@import "bootstrap";
@import "colors/slate_overrides";
@import "partials";
@import "invoice";
@import "dashboard";
@import "welcome";

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
  padding: 70px 0 0;
  min-height: 100%;
  height: auto;
  position: relative;

  > .container {
    padding-bottom: 20px;
  }
}

.filter-menu {
  margin: 0 0 20px;
  display: inline-block;
}

#signup-form {
  margin-bottom: 20px;
}

#budgets-panel {
  .progress {
    margin-bottom: 5px;
  }
}

.noty_buttons {
  background-color: transparent !important;
}
