#dashboard {
  .invoices-list {
    .list-group-item {
      position: relative;

      .due-label {
        position: absolute;
        bottom: 10px;
        left: 15px;
      }
    }
  }

  #chart-tabs {
    margin: 0 $border-radius-base -1px;
  }
}
