#invoice {
  #preview-wrapper {
    border: 1px solid #dddddd;
    border-top: 0;
    margin-bottom: 15px;
    min-height: 1000px;
  }

  .pdf-viewer {
    canvas {
      width: 100%;
    }
  }

  @media (max-width: $screen-lg-min) {
    #preview-wrapper {
      min-height: 800px;
    }
  }

  @media (max-width: $screen-md-min) {
    #preview-wrapper {
      min-height: 1000px;
    }
  }

  @media (max-width: $screen-sm-min) {
    #preview-wrapper {
      min-height: 600px;
    }
  }

  @media (max-width: $screen-xs-min) {
    #preview-wrapper {
      min-height: 500px;
    }
  }

  #preview-info {
    text-align: center;
    padding: 50px;
  }

  .due-label {
    vertical-align: text-top;
  }
}
