#logbook {
  a.list-group-item.vessel {
    hr {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }
}

.tours-list {
  .tours-list-button {
    margin-right: -16px;
    margin-top: -11px;
    padding: 10px 15px;
  }
}
