@import "pdf_normalize";
$secondary-link-color: #222;

// Mixin itself
.clear {
  content: " ";
  height: 0;
  clear: both;
}

body {
  font-size: 1.2em;
  padding: 10px;
  color: #333;
}

@import "partials/table";

table {
  border: none;

  thead th {
    padding: 6px 0;
    border-bottom: 2px solid #cacaca;

    &.align-right {
      text-align: right;
    }
  }

  td {
    padding: 6px 0;
  }

  td, th {
    font-size: .8em;
  }

  tfoot tr:first-child td {
    border-top: 2px solid darken(#cacaca, 10%);
  }
}

.table-breaker {
  content: " ";
  height: 0;
  clear: both;
  display: block;
  page-break-after: always;
}


address {
  font-style: normal;

  &#company {
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 62px;
    border-bottom: 1px solid #cacaca;
    display: inline-block;
  }
  &#customer {
    font-size: 16px;
  }
}

#subject {
  position: relative;
  margin: 30px 0;

  .info-wrapper {
    float: right;
    width: 50%;

    #infomartion, #date, #delivery-date, #tax, #payment-due {
      font-size: 15px;
      margin-bottom: 5px;
      text-align: right;
    }
  }

  h1 {
    font-size: 130%;
    width: 50%;
    font-weight: bold;
    margin-top: 0;
    float: left;
  }
}

tr {
  page-break-inside: avoid;
}

#pdf-header {
  top: 0;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #cacaca;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  color: #2ba6cb !important;
  font-family: Orbitron, sans-serif !important;
}

#pagination {
  font-size: 12px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: right;
}

#pdf-footer {
  border-top: 1px solid #cacaca;
  bottom: 0;
  width: 100%;
  padding-top: 5px;

  address, .contact-information, .bank-information {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5em;

    p {
      font-size: 12px;
      line-height: 1.5em;
    }
  }

  address {
    width: 25%;
  }

  .contact-information{
    width: 38%;
    margin-top: 1.5em;
  }

  .bank-information {
    width: 34%;
  }
}
