#welcome {
  .thumbnail {
    width: 100%;
  }

  #image-modal {
    .modal-dialog {
      width: 80%;
    }
    .modal-body img {
      width: 100%;
    }
  }

  #github-link {
    position: absolute;
    top: 50px;
    right: 0;
    img {
      border: 0;
    }
  }
}
