%footer#main-footer
  .version
    = I18n.t(:"version", version: Reckoning::CODENAME, version_number: Reckoning::VERSION)
  .copyright
    Copyright &copy; 2014
    = link_to "Marten Klitzke - mortik.", "mailto:info@mortik.de", target: "_blank", data: { no_turbolink: 'true'}
