:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";

- if user_signed_in?
  :javascript
    App.authToken = "#{current_user.id}:#{current_user.authentication_token}"
