javascript:
  I18n.defaultLocale = '#{I18n.default_locale}'
  I18n.locale = '#{I18n.locale}'
  StripeKey = '#{Rails.application.credentials.stripe_public_key}'
  PDFJSWorkerPath = '#{asset_path("pdfjs-dist/build/pdf.worker.js")}'

  ApiBasePath = "#{(api_domain if defined?(api_domain))}"
  ApiHeaders = new Headers({
    'Content-Type': 'application/json',
  });
  window.AUTHENTICATED = "#{signed_in?}"
