nav#main-nav.navbar.navbar-default.navbar-fixed-top.navbar-aside role="navigation"
  .container-fluid
    = render "layouts/brand"
    .collapse.navbar-collapse#main-navbar
      = render "layouts/user_nav"
      = render "layouts/links"
    = render "layouts/running_timers", timers: current_account.timers.running
