%nav#main-nav.navbar.navbar-default{role: "navigation"}
  .container
    = render "layouts/brand"
    .collapse.navbar-collapse.navbar-ex1-collapse
      = render "layouts/links"
      = render "layouts/user_nav"
