!!!
%html
  %head
    %meta{charset: 'utf-8' }

    %style{type: "text/css"}
      = Rails.application.assets.find_asset('pdf.css')

    :css
      @page {
        @bottom-right {
          content: "#{I18n.t(:"pdf.page")} " counter(page) " #{I18n.t(:"pdf.page_from")} " counter(pages);
        }
      }

  %body
    != yield
